@font-face {
  font-family: roboto;
  font-style: thin;
  font-weight: 100;
  src: url("./fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: roboto;
  font-style: light;
  font-weight: 300;
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto;
  font-style: medium;
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto;
  font-style: bold;
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto;
  font-style: black;
  font-weight: 900;
  src: url("./fonts/Roboto-Black.ttf");
}
