/*html {*/
/*    font-family:  IRANSans, 'Vazirmatn', sans-serif;*/
/*}*/
.v-locale--is-ltr  {
    direction: rtl;
}
html {
    font-family: 'IRANSans', sans-serif !important;
}
a {
    all: unset;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
