/*html {*/
/*    font-family:  IRANSans, 'Vazirmatn', sans-serif;*/
/*}*/
.v-locale--is-ltr  {
    direction: rtl;
}

a {
    all: unset;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
